@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: Roboto, sans-serif;
}

#foliosGrafica {
  max-width: 750px;
  margin: 35px auto;
}
#seguimientosGrafica {
  margin: 35px auto;
  padding-right: 15px;
}
